@font-face {
    font-family: "Sackers Gothic Std";
    src: url("resources/fonts/sackersgothicstd-medium.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "GFS Didot";
    src: url("resources/fonts/GFSDidot-Regular.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  
  .pagina_index {
    display: flex;
    max-width: 1200px;
    margin: 40px auto;
    gap: 40px;
    padding: 20px;
  }
  
  .pagina_index .index-coluna-esquerda {
    width: 50%;
    box-sizing: border-box;
  }
  
  .pagina_index .index-coluna-direita {
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .pagina_index h1 {
    font-size: 55px;
    font-weight: 450;
  }

  .pagina_index h2 {
    font-size: 48px;
    font-weight: 450;
    letter-spacing: 2px;
    line-height: 1em;
  }
  
  .pagina_index .index-intro {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 19px;
    font-family: "GFS Didot";
    letter-spacing: -0.8px;
  }
  
  .pagina_index .index-descricao {
    margin-top: 20px;
    font-size: 18px;
    letter-spacing: -0.5px;
    line-height: 1.6;
    font-family: "GFS Didot";
  }
  
  .pagina_index .index-botoes {
    margin-top: 40px;
    display: flex;
    gap: 40px;
  }

  .carrinhofoto{
    margin-top: -8px;
  }
  
  .pagina_index .index-botoes button {
    padding: 15px 50px;
    background-color: #480929;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .pagina_index .index-info-vinho {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 700;
  }
  
  .pagina_index .index-info-vinho div {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  /* NOVO BLOCO AJUSTADO */
  .caixasbanner-e-garrafa {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 360px;
    position: relative;
  }
  
  .index-premiado, 
  .index-paisagem {
    width: 255px;
    height: 358px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .index-premiado {
    background-color: #8F003E;
    color: #FFF1D4;
    text-align: center;
    justify-content: start;
    letter-spacing: -0.7px;
    padding: 20px;
    border-radius: 80px 0 0 0;
  }

  .index-premiado p {
    z-index: 12;
  }
  
  .index-premiado .badge img {
    margin-bottom: 10px;
    margin-top: 5px;
  }
  
  .index-paisagem {
    background-image: url(../img/plantacao_vinho.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 0 80px 0 0;
  }
  
  .index-toscana {
    position: absolute;
    font-size: 15px;
    bottom: 8px;
    right: 8px;
    color: #D3C3AA;
    font-weight: bold;
  }
  
  /* GARRAFA CENTRALIZADA */
  .index-garrafa {
    position: absolute;
    z-index: 10;
    display: flex;
    margin-top: 240px;
    align-items: center;
    justify-content: center;
  }
  
  .index-garrafa img {
    height: 441px;
    position: relative;
    bottom: -20px;
  }
  
  /* BOTÕES DE PREÇO */
  .pagina_index .index-preco-botoes {
    display: flex;
    justify-content: center;
    margin-top: 145px;
    align-items: center;
    width: 85%;
    z-index: 11;
  }
  
  .pagina_index .preco {
    background-color: #480929;
    color: #FFF1D4;
    padding: 15px 30px;
    font-size: 15px;
    letter-spacing: -0.5px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px 2px #3030309a;
  }

  .pagina_index .indicar {
    background-color: #480929;
    color: #FFF1D4;
    padding: 6px 30px;
    font-size: 15px;
    letter-spacing: -0.5px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px 2px #3030309a;
  }

  .uvinha{
    margin-left: 50px;
    margin-right: 50px;
  }

  .pagina_index .indicacao {
    text-align: center;
    color: #480929;
    font-weight: bold;
  }

  section.pagina_index2{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .pagina_index2 .colunas-produtos {
    display: flex;
    max-width: 1200px;
    margin: 16px auto 50px auto;
    gap: 70px;
    justify-content: space-between;
    z-index: 10;
  }

  .colunas-vinhos1,
  .colunas-vinhos2,
  .colunas-vinhos3,
  .colunas-vinhos4 {
    flex-basis: 31%;
    background: transparent;
    padding: 25px 30px;
    box-sizing: border-box;
    width: 254px;
    height: 411px;
  }

  .pagina_index2 h2 {
    text-align: center;
    font-weight: 300;
    font-size: 30px;
    margin: 100px 890px 0px 0px;
    color: #480929;
    letter-spacing: -0.8px;
  }

  .colunas-vinhos1 p,
  .colunas-vinhos2 p, 
  .colunas-vinhos3 p, 
  .colunas-vinhos4 p {
    color: white;
    font-size: 17px;
    font-family: "GFS Didot";
    font-weight: 500;
    line-height: 19px;
    padding: 2px;
    text-align: left;
  }

  .colunas-vinhos1 h1, 
  .colunas-vinhos2 h1, 
  .colunas-vinhos3 h1, 
  .colunas-vinhos4 h1 {
    color: white;
    text-align: left;
    font-weight: 500;
    font-size: 37px;
    margin: 10px 0;
    letter-spacing: -0.8px;
    font-family: "GFS Didot";
  }
  
  .colunas-vinhos1 button, 
  .colunas-vinhos2 button,
  .colunas-vinhos3 button,
  .colunas-vinhos4 button {
    color: white;
    background-color: transparent;
    margin-top: 45px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-family: "Sackers Gothic Std";
  }

  .colunas-vinhos1{
    background-image: url(../img/tinto.png);
  }

  .colunas-vinhos2{
    background-image: url(../img/branco.png);
  }

  .colunas-vinhos3{
    background-image: url(../img/rosé.png);
  }

  .colunas-vinhos4{
    background-image: url(../img/espumante.png);
  }

  .colunas-vinhos4 button{
    margin-top: 110px;
  }
  .colunas-vinhos3 button{
    margin-top: 65px;
  }