.pagina_indexbackground {
    background-size: cover;
    background-position: center;
    overflow: hidden;
    min-height: 140vh;
    background-image: url(../img/fundo.jpg);
  }


@media(max-width: 553px) {

  .pagina_indexbackground{
    background-image: url(../img/fundomobile.jpg);
  }
}