* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @font-face {
    font-family: "Sackers Gothic Std";
    src: url("resources/fonts/sackersgothicstd-medium.otf")
      format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "GFS Didot";
    src: url("resources/fonts/GFSDidot-Regular.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  html,
  body {
    height: 100%;
  }

  #container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #f4e8cf;
  }

  #left {
    display: flex;
    flex-direction: column;
    width: 10%;
  }
  #left img {
    width: 300px;
  }

  #middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    gap: 50px;
    margin-top: 100px;
  }

  #middle img {
    width: 375px;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  #text-box {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    animation: fadeIn 2s ease-in-out;
  }

  #text-box h1 {
    font-family: "Sackers Gothic Std";
    color: #480929;
    font-size: 30px;
    margin-bottom: 1.5rem;
  }

  #text-box p {
    font-family: "GFS Didot";
    color: #480929;
    font-size: 1.5rem;
  }

  #right {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-right: 25px;
  }

  .img-odd {
    align-self: flex-start;
    margin-left: -115px;
  }

  @media (max-width: 1150px) {
    #container {
      justify-content: center;
    }

    #left {
      display: none;
    }

    #middle {
      width: 75%;
    }

    #text-box {
      text-align: center;
    }

    #right {
      display: none;
    }
  }

  @media (max-width: 700px) {
    #middle img {
      width: 300px;
    }
  }

  @media (min-height: 1200px) {
    #container {
      justify-content: space-around;
    }

    #left img {
      width: 500px;
    }

    #text-box h1 {
      font-size: 56px;
    }

    #text-box p {
      font-size: 37px;
    }

    #middle {
      width: 35%;
      gap: 150px;
      margin-top: 200px;
    }

    #middle img {
      width: 575px;
    }

    #right {
      gap: 150px;
      margin-right: 0;
    }

    .img-odd,
    .img-pair {
      width: 300px;
      height: auto;
    }
  }

  @media (min-height: 1900px) {
    #left img {
      width: 800px;
    }

    #text-box{
      gap: 4.5rem;
    }

    #text-box h1 {
      font-size: 80px;
      margin-bottom: 4.5rem;
    }

    #text-box p {
      font-size: 51px;
    }

    #middle img {
      width: 830px;
    }

    .img-odd,
    .img-pair {
      width: 400px;
      height: auto;
    }

    .img-odd {
      margin-left: -215px;
    }
  }